<h1>Welcome to RPS Challenge, <%=@player_name%></h1>

<form action="index.html">
  <input type="submit" value="Rock">
  <input type="submit" value="Paper">
  <input type="submit" value="Scissors">
</form>
