<div id="weapon_select">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-3"><%=@game.current_player.name%>, select your weapon!</h1>
    </div>
  </div>

  <form action="/choice" method="post">
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <input class="btn btn-outline-dark btn-lg" type="submit" name="choice" value="Rock">
        <p><i class="far fa-hand-rock"></i></p>
      </div>
      <div class="col-4 text-center">
        <input class="btn btn-outline-dark btn-lg" type="submit" name ="choice" value="Paper">
        <p><i class="far fa-hand-paper"></i></p>
      </div>
      <div class="col-4 text-center">
        <input class="btn btn-outline-dark btn-lg" type="submit" name ="choice" value="Scissors">
        <p><i class="far fa-hand-scissors"></i></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 text-center">
        <input class="btn btn-outline-dark btn-lg" type="submit" name ="choice" value="Spock">
        <p><i class="far fa-hand-spock"></i></p>
      </div>
      <div class="col-4 text-center">
        <input class="btn btn-outline-dark btn-lg" type="submit" name ="choice" value="Lizard">
        <p><i class="far fa-hand-lizard"></i></p>
      </div>
    </div>
  </form>
</div>
