<div class="row">
  <div class="lg-col-6 mx-auto">
    <h1><%=@game.player1.name%>, select your weapon!</h1>
  </div>
</div>

<form action="/choice">
  <div class="row">
    <div class="col-12 text-center">
      <input class="btn btn-primary btn-lg" type="submit" name="choice" value="Rock">
    </div>
    <div class="col-12 text-center">
      <input class="btn btn-primary btn-lg" type="submit" name ="choice" value="Paper">
    </div>
    <div class="col-12 text-center">
      <input class="btn btn-primary btn-lg" type="submit" name ="choice" value="Scissors">
    </div>
  </div>
</form>
