<div class="result">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-2">It's a tie!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 text-center">
      <h2><%= @game.player1.name %> chose <span><%= @game.player1.weapon.type%></h2></span>
    </div>
    <div class="col-lg-6 text-center">
      <h2><%=@game.player2.name %> chose <span><%= @game.player2.weapon.type%></h2></span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a class="btn btn-outline-dark btn-lg" href="/">Play Again</a>
    </div>
  </div>
</div>
