body {
  background: #F7F7FF;
  font-family: 'Roboto', sans-serif;
}

#index h1 {
  color: #577399;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  opacity: 0.7
}

#index form {
  margin-top: 30px;
}

#index form label {
 color: #577399;
}

#index form .btn {
  color: #577399;
  border-color: #577399
}

#weapon_select {
  background: #F7F7FF;
  margin-top: 100px;
}

#weapon_select h1 {
  color: #577399;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 50px;
}

#weapon_select p {
  color: #FE5F55;
  margin-top: 10px;
}

#weapon_select .svg-inline--fa {
  font-size: 90px;
}

#weapon_select form .btn {
  color: #577399;
  border-color: #577399
}

.result h1 {
  margin-top: 200px;
  color: #577399;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  opacity: 0.7;
  margin-bottom: 20px;
}

.result span {
  color: #FE5F55;
  text-transform: uppercase;
}

.result h2 {
  color: #577399;
}

.result .btn {
  color: #577399;
  border-color: #577399
}
